{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4">
        {% if (posts|length) > 0 %}
            {% for post in posts %}
                {{ include('micro_post/_micro-post.html.twig') }}
            {% endfor %}
        {% else %}
            There is no posts
        {% endif %}
    </div>
{% endblock %}
