{% extends 'base.html.twig' %}

{% block title %}Post - {{ post.title }}{% endblock %}

{% block bread %} / Post #{{ post.id }} {% endblock %}

{% block body %}
    {{ include('micro_post/_micro-post.html.twig') }}
    <div class="mt-4">
        {% for comment in post.comments %}
            {{ include('comment/_comment.html.twig') }}
        {% endfor %}
    </div>
{% endblock %}