{% extends 'base.html.twig' %}

{% block title %}Create New Comment{% endblock %}

{% block bread %}
    / <a href="{{ path('app_micro_post_show', {id: post.id}) }}">Post #{{ post.id }}</a>
    / Crate a New Comment
{% endblock %}

{% block body %}
    {{ include('micro_post/_micro-post.html.twig') }}
    {{ include('comment/_form.html.twig') }}
{% endblock %}