{% extends 'base.html.twig' %}

{% block title %}Post - {{ post.title }} Comment{% endblock %}

{% block bread %}
    / <a href="{{ path('app_micro_post_show', {id: post.id}) }}">Post #{{ post.id }}</a>
    / Post Comment
{% endblock %}

{% block body %}
    {{ include('comment/_comment.html.twig') }}
{% endblock %}